.userBox {
    display: flex;
    align-items: center;
    max-width: 767px;
    height: 40px;
    padding: 0 15px;
    margin: 0 auto;
    background-color: #eff1f3;
    z-index: 10;
  @media screen and (min-width: 320px) {
    border-top: 2px solid #E0E0E0;
    flex-basis: 100%;
  }
  @media screen and (min-width: 768px) {
    border-top: none;
    flex-basis: auto;
  }
}
  .userInfo {
    display: flex;
    width: 290px;
    align-items: center;
    justify-content: flex-end ;
    margin-left: auto;
  }
  .name {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #212121;
    margin-right: 15px;
  }
  
  .logout {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #9b9faa;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    &:hover{
      color: black;
    }
  }

  @media screen and (min-width: 768px) {
    .userBox {
      padding: 0;
      margin-right: 50px;
      background-color: white;
    }
  }
  @media screen and (min-width: 1280px) {
    .userBox {
      max-height: 100%;
      margin-left: auto;
      margin-right: 115px;
      background-color: #f0f1f3;
    }
    .name {
      margin-right: 22px;
    }
  }
.slash{
  width: 2px;
  height: 32px;
  background-color: #E0E0E0;
  margin: 0 22px 0 22px;
}