.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px 0 15px;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 87px 0 87px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1024px;
    padding: 0 115px 0 115px;
  }
}
