.container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 15px 0 15px;
}

.title {
  color: #fc842d;
  margin-bottom: 60px;
  text-align: center;
}

.btnThumb {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
}
.regBtn {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 157px 299px 0 87px;
  }
  .title {
    text-align: start;
    margin-bottom: 40px;
  }
  .btnThumb {
    align-items: flex-start;
  }
  .regBtn {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 95px 783px 0 115px;
  }
  .title {
    margin-bottom: 60px;
  }
}
