.container {
  margin-top: 40px;
}

.title {
  color: #fc842d;
  margin-bottom: 60px;
  text-align: center;
}

.btnThumb {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
}

.regBtn {
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    margin-top: 191px;
  }
  .title {
    text-align: start;
  }
  .btnThumb {
    flex-direction: row;
  }
  .regBtn {
    margin-top: 0px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    margin-top: 213px;
  }
  .title {
    margin-bottom: 70px;
  }
}
