.go{
  font-family: Verdana, serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #fc842d;
  border: none;
  padding: 13px 46px;
  box-shadow: 0px 4px 10px rgb(252, 132, 45 / 50%);
  border-radius: 30px;
  cursor: pointer;
}