.userInfo {
    border-top: 1px solid #e0e0e0;
  }
  .logo {
    width: 162px;
    height: 44px;
    margin: 0;
  }
  .logoDesktop {
    display: none;
  }
  .userInfoTablet {
    display: none;
  }
  .userInfoDesktop {
    display: none;
  }
  
  .regularMenu {
    display: none;
  }
  
  .linkDiary {
    position: relative;
    display: block;
    text-align: center;
    max-width: 100%;
    padding-top: 60px;
    background-position: 88% 50%;
    background-size: 36px;
    background-repeat: no-repeat;
    transition: background-position 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    text-decoration: none;
    color: #9b9faa;
    font-size: 18px;
    line-height: 1.2;
    font-weight: bold;
    font-family: Verdana;
  }
  .linkCalc {
    display: block;
    text-align: center;
    max-width: 100%;
    padding-top: 33px;
    background-position: 88% 50%;
    background-size: 36px;
    background-repeat: no-repeat;
    transition: background-position 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    text-decoration: none;
    color: #9b9faa;
    font-size: 18px;
    line-height: 1.2;
    font-weight: bold;
    font-family: Verdana;
  }
  .link:hover {
    background-position: 90% 50%;
    color: white;
  }
  .mobileLinkActive{
  color: white;
  }
  
  .boxTablet {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logoDesktop {
    display: none;
  }
  @media screen and (min-width: 768px) {
    .linkDiary {
      position: relative;
      display: block;
      text-align: center;
      max-width: 100%;
      padding-top: 108px;
      background-position: 88% 50%;
      background-size: 36px;
      background-repeat: no-repeat;
      transition: background-position 300ms
        cubic-bezier(0.455, 0.03, 0.515, 0.955);
      text-decoration: none;
      color: #9b9faa;
      font-size: 24px;
      line-height: 1.2;
      font-weight: bold;
      font-family: Verdana;
    }
    .linkCalc {
      display: block;
      text-align: center;
      max-width: 100%;
      padding-top: 30px;
      background-position: 88% 50%;
      background-size: 36px;
      background-repeat: no-repeat;
      transition: background-position 300ms
        cubic-bezier(0.455, 0.03, 0.515, 0.955);
      text-decoration: none;
      color: #9b9faa;
      font-size: 24px;
      line-height: 1.2;
      font-weight: bold;
      font-family: Verdana;
    }
    .userInfoTablet {
      display: block;
      margin-left: auto;
    }
    .userInfo {
      display: none;
    }
    .container {
      border-bottom: 1px solid #e0e0e0;
    }
    .mobileLinkActive{
      color: white;
      }
  }
  @media screen and (min-width: 1280px) {
    .navContainer {
      display: flex;
      height: 32px;
      border-left: 2px solid #e0e0e0;
      padding-left: 22px;
      align-items: center;
      margin-left: 22px;
    }
    .boxTablet {
      display: none;
    }
    .logo {
      display: none;
    }
  
    .logoDesktop {
      display: block;
      padding-top: 22px;
      text-align: center;
      width: 170px;
      height: 67px;
      margin-right: 18px;
    }
    .regularMenu {
      padding-top: 82px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .userInfoDesktop {
      padding-top: 82px;
      display: block;
      min-width: 535px;
      margin-left: auto;
      height: 150px;
      margin-left: auto;
      background-color: #f0f1f3;
    }
    .userInfoTablet {
      display: none;
    }
    .burgerMenu {
      display: none;
    }
    .boxDesktop {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 1280px;
      padding-left: 148px;
      margin: 0;
    }
  
    .desktopLink {
      margin-right: 22px;
      font-family: Gotham Pro;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 13px;
      text-decoration: none;
      color: #9b9faa;
      text-transform: uppercase;
    }
    .desktopLinkActive {
      color: black;
    }
  }