html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: Verdana, serif;
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

//colors

$text-color: #212121;
$secondary-text-color: #9b9faa;
$thirdly-color: #264061;
$white-color: #ffffff;
$links-color: #84898b;
$bg-color: #fc842d;

// button

button {
  cursor: pointer;
  outline: none;
}
